  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="lib/css :: css(~{::title},~{})" >
<title>课程管理</title>
</head>
<body>
	<div class="body-content">
		<div id="content">
			<div id="toolbar">
				<div class="searchTextWrap">
					<select id="searchField" class="searchField">
						<option value="year">课程年份</option>
						<option value="courseCatogryId">课程分类</option>
						<option value="term">学期</option>
						<option value="number">人数</option>
						<option value="remark">备注</option>
						<option value="collegeId">归属学院</option>
					</select> <input class="searchText" id="searchText" type="text" placeholder="搜索">
					<button type="button" @click="reload " class="btn btn-default">搜索</button>
				</div>
				<button shiro:hasPermission="course/save"
					type="button" class="btn btn-success" @click="addForm">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
				</button>
				<button shiro:hasPermission="course/update"
					type="button" class="btn btn-warning" @click="editForm">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
				</button>
				<button shiro:hasPermission="course/update"
						type="button" class="btn btn-success" @click='mange'>
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>学生管理
				</button>
				<button shiro:hasPermission="course/update"
						type="button" class="btn btn-warning" @click="teacherForm">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择教师
				</button>

				<button shiro:hasPermission="course/update"
						type="button" class="btn btn-success" @click="comment">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>评价管理
				</button>
				<button shiro:hasPermission="course/details/"
					type="button" class="btn btn-warning" @click="details">详情
				</button>
				<button  shiro:hasPermission="course/delete"
					type="button" class="btn btn-danger" @click="deleteData">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
				</button>
				<div class="btn-group" shiro:hasPermission="course/export">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">
						<span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出数据
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a @click='exportData("excel")' href="#">导出为Excel</a></li>
						<li><a @click='exportData("doc")' href="#">导出为WORD</a></li>
					</ul>
				</div>
				<!-- <div class="searchTimeWrap">
					<input id="startTime" class="searchTime"  placeholder="开始时间" type="date"/>&nbsp&nbsp—&nbsp&nbsp<input id="endTime" class="searchTime" placeholder="结束时间" type="date"/>
					<button type="button" @click="timeQuery " class="btn btn-default">查找</button>
				</div>-->
			</div>
			<table id="datatable"></table>
			<div class="modal fade form-modal" id="teachermodal" tabindex="-1"
				 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							<h4 class="modal-title text-center" id="myModalLabel">{{modalTitle}}</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal"
								  role="form">
								<div class="form-group">
									<label class="col-sm-2 control-label">地区:</label>
									<div class="col-sm-7">
										<select v-model="province" class="inline-select">
											<option :value="item.id" v-for="item in provinceList">{{item.name}}</option>
										</select>
										<select v-model="city" class="inline-select">
											<option :value="item.id" v-for="item in cityList">{{item.name}}</option>
										</select>
									</div>
									<div class="col-md-3"></div>
								</div>
								<div class="form-group">
									<label for="学校Id" class="col-sm-2 control-label">学校:</label>
									<div class="col-sm-7">
										<select class="form-control" v-model="university">
											<option :value="item.id" v-for="item in universityList">{{item.name}}</option>
										</select>
									</div>
									<div class="col-md-3"></div>
								</div>
								<div class="form-group">
									<label for="归属学院" class="col-sm-2 control-label">学院:</label>
									<div class="col-sm-7">
										<select class="form-control" v-model="college">
											<option :value="item.id" v-for="item in collegeList">{{item.name}}</option>
										</select>
									</div>
									<div class="col-md-3"></div>
								</div>
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">教师:</label>
									<div class="col-sm-7">
										<select class="form-control" v-model="courseTeacher.userId">
											<option :value="item.id" v-for="item in teacherList">{{item.name}}</option>
										</select>
									</div>
									<div class="col-md-3"></div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-7">
										<button type="button" @click="saveOrUpdateTeacher" class="btn btn-success">保存</button>
										<button type="button" class="btn btn-default pull-right"
												data-dismiss="modal">关闭</button>
									</div>
								</div>
								<div class="text-center"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="formwrap" class="formwrap">
				<form class="form-horizontal" v-modal="course" id="modal-form"
					role="form">
					<div class="form-group">
						<label for="课程名称" class="col-sm-2 control-label">课程名称:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								   v-model="course.name"
								   name="name" id="name"
								   placeholder="课程名称">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">地区:</label>
						<div class="col-sm-7">
							<select v-model="province" class="inline-select">
								<option :value="item.id" v-for="item in provinceList">{{item.name}}</option>
							</select>
							<select v-model="city" class="inline-select">
								<option :value="item.id" v-for="item in cityList">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="学校Id" class="col-sm-2 control-label">学校:</label>
						<div class="col-sm-7">
							<select class="form-control" v-model="university">
								<option :value="item.id" v-for="item in universityList">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="归属学院" class="col-sm-2 control-label">学院:</label>
						<div class="col-sm-7">
							<select class="form-control" v-model="course.collegeId">
								<option :value="item.id" v-for="item in collegeList">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="课程年份" class="col-sm-2 control-label">学期:</label>
						<div class="col-sm-7">
							<select class="inline-select" v-model="course.year">
								<option :value="item" v-for="item in yearList">{{item}}</option>
							</select>
							<select class="inline-select" v-model="course.term">
								<option value="1">上学期</option>
								<option value="2">下学期</option>
							</select>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="课程分类" class="col-sm-2 control-label">类别:</label>
						<div class="col-sm-7">
							<select class="form-control" v-model="course.courseCatogryId">
								<option :value="item.id" v-for="item in categoryList">{{item.name}}</option>
							</select>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="状态" class="col-sm-2 control-label">状态:</label>
						<div class="col-sm-7">
							<status-radio :status="course.status" @statuschange="statusChange"></status-radio>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="人数" class="col-sm-2 control-label">人数:</label>
						<div class="col-sm-7">
							<order :num="course.number" @orderchange="orderChange"></order>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="教师" class="col-sm-2 control-label">联系人:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								   v-model="course.contacts"
								   name="contacts" id="contacts"
								   placeholder="教师">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="电话" class="col-sm-2 control-label">电话:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								   v-model="course.phone"
								   name="phone" id="phone"
								   placeholder="电话">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="备注" class="col-sm-2 control-label">备注:</label>
						<div class="col-sm-7">
							<textarea class="form-control"
									  v-model="course.remark"
									  name="remark" id="remark" placeholder="备注"></textarea>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-success">保存</button>
							<input type="reset" class="btn btn-primary" value="重置" />
							<button type="button" class="btn btn-default pull-right  layui-layer-close">关闭</button>
						</div>
					</div>
					<div id="error" class="text-center"></div>
				</form>
			</div>
			<div id="detailswrap" class="detailswrap">
                <table class="table details-table table-bordered">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>数据</th>
                    </tr>
                    </thead>
                    <tbody>
					<tr>
						<td class="text-right">课程名称:</td>
						<td v-html="course.name | stringFormat"></td>
					</tr>
	<tr>
		<td  class="text-right">操作人:</td>
		<td>{{course.createName}}</td>
	</tr>
<tr>
    <td class="text-right">创建时间:</td>
    <td v-html="course.createTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">学期:</td>
	<td><span v-if="course.term == 1">{{course.year}}上学期</span><span v-if="course.term == 2">{{course.year}}下学期</span></td>
</tr>
<tr>
    <td class="text-right">课程类别:</td>
    <td v-html="course.categoryName | stringFormat"></td>
</tr>
					<tr>
						<td class="text-right">学院:</td>
						<td v-html="course.collegeName | stringFormat"></td>
					</tr>
<tr>
    <td class="text-right">人数:</td>
    <td v-html="course.number | stringFormat"></td>
</tr>
	<tr>
		<td class="text-right">教师:</td>
		<td v-html="course.contacts | stringFormat"></td>
	</tr>
	<tr>
		<td class="text-right">电话:</td>
		<td v-html="course.phone | stringFormat"></td>
	</tr>
<tr>
    <td class="text-right">更新时间:</td>
    <td v-html="course.updateTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">备注:</td>
    <td v-html="course.remark | stringFormat"></td>
</tr>

                    </tbody>
                </table>
			</div>
		</div>
	</div>
	<div th:include="lib/js :: js" ></div>
	<script th:src="@{/static/vote/course.js}"></script>
</body>
</html>
