  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="lib/css :: css(~{::title},~{})" >
<title>评价结果</title>
</head>
<body>
	<div class="body-content">
		<div id="content">
			<div id="toolbar">
				<div class="searchTextWrap">
					<select id="searchField" class="searchField">
						<option value="userId">被评价人</option>
						<option value="questionId"></option>
						<option value="answer"></option>
						<option value="remark"></option>
					</select> <input class="searchText" id="searchText" type="text" placeholder="搜索">
					<button type="button" @click="reload " class="btn btn-default">搜索</button>
				</div>
				<button shiro:hasPermission="hcommentresult/save"
					type="button" class="btn btn-success" @click="addForm">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>填写评价
				</button>
				<button shiro:hasPermission="hcommentresult/update"
					type="button" class="btn btn-warning" @click="editForm">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改评价
				</button>
				<button shiro:hasPermission="hcommentresult/update"
						type="button" class="btn btn-success" @click="gradesForm">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>查看总成绩
				</button>
				<button shiro:hasPermission="hcommentresult/details/"
					type="button" class="btn btn-warning" @click="details">详情
				</button>
				<!--<button  shiro:hasPermission="commentresult/delete"
					type="button" class="btn btn-danger" @click="deleteData">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
				</button>-->
				<div class="btn-group" shiro:hasPermission="hcommentresult/export">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">
						<span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出数据
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a @click='exportData("excel")' href="#">导出为Excel</a></li>
						<li><a @click='exportData("doc")' href="#">导出为WORD</a></li>
					</ul>
				</div>
			</div>
			<table id="datatable"></table>
			<div class="modal fade" id="questionmodal" tabindex="-1"
				 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							<h4 class="modal-title text-center" >您正在填写的是:{{commentResult.commentsName}}</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" v-modal="sysUser"
								  role="form">
								<input type="hidden" class="form-control"
									   v-model="commentResult.commentId" name="commentId">
<div class="question-box">
	<div class="col-md-12" style="margin-top:20px; margin-bottom:20px;">
		<div class="col-md-5"><span>当前正在评价的课程：<a href="">{{commentResult.courseName}}</a></span></div>
		<div class="col-md-3"><span>任课教师：<a href="">{{commentResult.teacherName}}</a></span></div>
		<div class="col-md-3"><span>被评价人：<a href="">{{commentResult.commentName}}</a></span></div>
	</div>
	<div class="col-md-4 text-center">
		<h4 class="text-center">结果对照表</h4>
		<div id="answer-wrap" class="col-md-12">
			<div v-for="(index,item) in questionList" class="col-md-3 col-xs-3 col-md-offset-1 img-rounded"><span v-if="!item.answer">{{index+1}}</span><span v-if="item.answer">{{item.answer}}</span></div>
		</div>
		<div class="col-md-12 clearfix">
			<a @click="saveanswer" id="save-button" class="btn btn-warning col-md-6 col-md-offset-3 disabled"  style="margin-top:10px;">提交</a>
		</div>
	</div>
	<div class="col-md-8">
		<div class="col-md-12">
			<p style="padding-right:15px; line-height:30px;"><span class="text-danger text-left">填写须知：</span>请认真阅读完题目后再进行下一题目的做答，每答完一题系统会自动跳转至下一题进行做答。您每次填写的选项都将在左侧的结果对照表中展示，你可以通过结果对照表查看作答情况。此外，您必须在填写完所有问题答案以后才可以对答案进行提交，在答题未完成时将无法提交结果。</p>
		</div>
		<div  id="question-wrap" class="col-md-12" style="height:298px;">
			<ul>
				<li>
					<div id="box" class="panel panel-success text-left">
						<div class="panel-heading">
							<h3 class="panel-title">问题 {{num+1}}</h3>
						</div>
						<div class="panel-body">
							<p>{{questionList[num].content}}</p>
							<div class="col-md-5">
								<h5><span><input v-model="questionList[num].answer" type="radio" name="radio" value="A">A.非常符合</span></h5>
								<h5><span><input v-model="questionList[num].answer" type="radio" name="radio" value="B">B.比较符合</span></h5>
								<h5><span><input v-model="questionList[num].answer" type="radio" name="radio" value="C">C.一般符合</span></h5>
								<h5><span><input v-model="questionList[num].answer" type="radio" name="radio" value="D">D.不太符合</span></h5>
								<h5><span><input v-model="questionList[num].answer" type="radio" name= "radio" value="E">E.完全不符合</span></h5>
								<p>&nbsp</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<a @click="pre" class="btn btn-success" style="position:absolute;bottom:5px;left:18px;"  >上一题</a>
			<a @click="next" class="btn btn-success" style="position:absolute;bottom:5px;right:18px;">下一题</a>
		</div>

	</div>
</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="resultmodal" tabindex="-1"
				 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:600px;">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							<h4 class="modal-title text-center" >评价成绩</h4>
						</div>
						<div class="modal-body">

							<div class="grades-sum">
								<p>{{grades.sum}}</p>
								<small>总分</small>
							</div>
							<div  class="grades-details">
								<span>自评得分：{{grades.self}}</span>
								<span>互评得分：{{grades.every}}</span>
							</div>
<div class="grades-status">
	<span>自评状态：<small class="btn btn-xs btn-success">{{grades.selfStatus}}</small></span>
	<span>互评状态：<span v-if="grades.everyStatus == 4 " class="btn btn-xs btn-success">已完成</span><span  class="btn btn-xs btn-info" v-if="grades.everyStatus != 4 ">{{grades.everyStatus}}人已完成</span></span>
</div>
						</div>
					</div>
				</div>
			</div>
			<style>
				.grades-sum{
					width:80px;
					margin: 20px auto;
					text-align: center;
				}.grades-sum>p{
					display: block;
					width: 80px;
					height: 80px;
					text-align: center;
					line-height: 80px;
					border-radius: 40px;
					font-size: 30px;
					color: white;
					background: #5cb85c;
				 }
				.grades-details,.grades-status{
					width: 400px;
					margin: 20px auto;
				  }
				.grades-details span,.grades-status>span{
					display: inline-block;
					width: 48%;
				}
			</style>
			<div id="detailswrap" class="detailswrap">
                <table class="table details-table table-bordered">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>数据</th>
                    </tr>
                    </thead>
                    <tbody>
<tr>
    <td class="text-right">被评价人:</td>
    <td v-html="commentResult.commentName | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">评价人:</td>
    <td v-html="commentResult.createName | stringFormat"></td>
</tr>
<tr>
	<td class="text-right">课程名称:</td>
	<td v-html="commentResult.courseName | stringFormat"></td>
</tr>
<tr>
	<td class="text-right">教师姓名:</td>
	<td v-html="commentResult.teacherName | stringFormat"></td>
</tr>
<tr>
	<td class="text-right">手机:</td>
	<td v-html="commentResult.teacherMobile | stringFormat"></td>
</tr>
<tr>
	<td class="text-right">评价名称:</td>
	<td v-html="commentResult.commentsName| stringFormat"></td>
</tr>
<tr>
    <td class="text-right">评价时间:</td>
    <td v-html="commentResult.createTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">修改时间:</td>
    <td v-html="commentResult.updateTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">评价:</td>
    <td v-html="commentResult.answer | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">成绩:</td>
    <td v-html="commentResult.remark | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">状态:</td>
    <td><span v-if="commentResult.status == 2" class="btn btn-xs btn-danger">已结束</span><span v-if="commentResult.status == 2" class="btn btn-xs btn-danger">已评价</span><span v-if="commentResult.status == 1" class="btn btn-xs btn-danger">未评价</span></td>
</tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
	<div th:include="lib/js :: js" ></div>
	<script th:src="@{/static/vote/hcommentresult.js}"></script>
</body>
<style>
	.modal-dialog{
		width:1040px;
	}
	.question-box{
		width:1000px;
		height: 550px;
	}
	#question-wrap{
		overflow: hidden;
		position:relative;
	}
	#question-wrap h5{
		display: block;
		width: 100%;
		cursor: pointer;
	}
	#question-wrap ul{
		list-style-type:none;
		margin-left:0px;
		padding-left:0px;
		display:block;
	}
	#question-wrap li {
		display:block;
		border:1px solid #ffffff;
	}
	#answer-wrap div {
		text-align:center;
		border:1px solid #000000;
		line-height:30px;
		margin-top:5%;
	}
	.question-item{
		display: none;
	}
	.current-item{
		display:block;
	}
	.resultactive {
		background-color:forestgreen;
		color:white;
	}
</style>
</html>
