<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="lib/css :: css(~{::title},~{})">
<title>大学生英语自主学习能力评价系统</title>
</head>
<body>
	<div id="main">
 			<div class="welcome-message"><p>欢迎使用大学生英语自主学习能力评价系统</p></div>
	</div>
<style>
	.welcome-message{
		position: absolute;
		top:40%;
		left: 50%;
		width: 550px;
		height: 50px;
		margin-top: -25px;
		margin-left: -200px;
		font-size: 28px;
		color: #5cb85c;
	}
</style>
	<div th:include="lib/js :: js"></div>
	<div th:include="lib/echarts :: js"></div>
</body>
<script type="text/javascript">
	var vue = new Vue({
		el : '#main',
		data : {
		},
		methods : {
			init : function() {
			}
		},
		created:function(){
			this.init();
		}
	});
</script>
</html>
