  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="lib/css :: css(~{::title},~{})" >
<title>用户票据</title>
</head>
<body>
	<div class="body-content">
		<div id="content">
			<div id="toolbar">
				<div class="searchTextWrap">
					<select id="searchField" class="searchField">
						<option value="expireTime">过期时间</option>
						<option value="ticket">票据</option>
						<option value="remark">备注</option>
						<option value="ip">IP地址</option>
						<option value="principle">授权</option>
					</select> <input class="searchText" id="searchText" type="text" placeholder="搜索">
					<button type="button" @click="reload " class="btn btn-default">搜索</button>
				</div>
				<button shiro:hasPermission="token/details/"
					type="button" class="btn btn-warning" @click="details">详情
				</button>
				<button  shiro:hasPermission="token/logout"
						 type="button" class="btn btn-danger" @click="logout">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>强制用户下线
				</button>
				<button  shiro:hasPermission="token/delete"
					type="button" class="btn btn-danger" @click="deleteData">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
				</button>
				<div class="btn-group" shiro:hasPermission="token/export">
					<button type="button" class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">
						<span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出数据
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a @click='exportData("excel")' href="#">导出为Excel</a></li>
						<li><a @click='exportData("doc")' href="#">导出为WORD</a></li>
					</ul>
				</div>
				<!-- <div class="searchTimeWrap">
					<input id="startTime" class="searchTime"  placeholder="开始时间" type="date"/>&nbsp&nbsp—&nbsp&nbsp<input id="endTime" class="searchTime" placeholder="结束时间" type="date"/>
					<button type="button" @click="timeQuery " class="btn btn-default">查找</button>
				</div>-->
			</div>
			<table id="datatable"></table>
			<div id="formwrap" class="formwrap">
				<form class="form-horizontal" v-modal="token" id="modal-form"
					role="form">
					<div class="form-group">
						<label for="过期时间" class="col-sm-2 control-label">过期时间:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								v-model="token.expireTime"
								name="expireTime" id="expireTime"
								placeholder="过期时间">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="票据" class="col-sm-2 control-label">票据:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								v-model="token.ticket"
								name="ticket" id="ticket"
								placeholder="票据">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="备注" class="col-sm-2 control-label">备注:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								v-model="token.remark"
								name="remark" id="remark"
								placeholder="备注">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="IP地址" class="col-sm-2 control-label">IP地址:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								v-model="token.ip"
								name="ip" id="ip"
								placeholder="IP地址">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<label for="授权" class="col-sm-2 control-label">授权:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control"
								v-model="token.principle"
								name="principle" id="principle"
								placeholder="授权">
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-success">保存</button>
							<input type="reset" class="btn btn-primary" value="重置" />
							<button type="button" class="btn btn-default pull-right  layui-layer-close">关闭</button>
						</div>
					</div>
					<div id="error" class="text-center"></div>
				</form>
			</div>
			<div id="detailswrap" class="detailswrap">
                <table class="table details-table table-bordered">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>数据</th>
                    </tr>
                    </thead>
                    <tbody>
<tr>
    <td class="text-right">过期时间:</td>
    <td v-html="token.expireTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">登录时间:</td>
    <td v-html="token.createTime | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">票据:</td>
    <td v-html="token.ticket | stringFormat"></td>
</tr>
	<tr>
		<td  class="text-right">用户名:</td>
		<td>{{token.createName}}</td>
	</tr>
<tr>
    <td class="text-right">备注:</td>
    <td v-html="token.remark | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">IP地址:</td>
    <td v-html="token.ip | stringFormat"></td>
</tr>
<tr>
    <td class="text-right">授权:</td>
    <td v-html="token.principle | stringFormat"></td>
</tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
	<div th:include="lib/js :: js" ></div>
	<script th:src="@{/static/admin/token.js}"></script>
</body>
</html>
