package ${package}.controller;

import java.util.Map;
import com.ljb.annotion.Desc;
import com.ljb.utils.R;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;
import ${package}.entity.${className};
import ${package}.service.${className}Service;

/**
 * ${comments}Controller
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
#if($comments.indexOf("管理")!=-1)
    #set($entity = ${comments.substring(0,$comments.indexOf("管理"))})
    #else
        #set($entity = ${comments})
#end

@RestController
@RequestMapping("${pathName}")
@Desc(group="${moduleName}",name="${comments}",type=1,url="${module}/${classname.toLowerCase()}.html")
public class ${className}Controller extends BaseController {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 查看列表
     */
    @RequestMapping("/list")
    @Desc(name="${entity}列表",type=2)
    public R list(@RequestParam Map<String, Object> params) {
        //查询列表数据
        return R.ok().put("data", ${classname}Service.selectList(params));
    }

    /**
     * 查看信息
     */
    @RequestMapping("/{${pk.attrname}}")
    @Desc(name="查看${entity}",type=2)
    public R info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}) {
        Object ${classname}  = ${classname}Service.selectById(${pk.attrname});
        return R.ok().put("data", ${classname});
    }

    /**
     * 查看详细信息
     */
    @RequestMapping("/details/{${pk.attrname}}")
    @Desc(name="${entity}详情",type=2)
    public R details(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}) {
        Object ${classname}  = ${classname}Service.selectMapById(${pk.attrname});
        return R.ok().put("data", ${classname});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
    @Desc(name="添加${entity}",type=2)
    public R save(@Validated @RequestBody ${className} ${classname}) {
        ${classname}Service.save(${classname});
        return R.ok();
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
    @Desc(name="修改${entity}",type=2)
    public R update(@Validated @RequestBody ${className} ${classname}) {
        ${classname}Service.update(${classname});
        return R.ok();
    }

    /**
     * 删除
     */
    @RequestMapping("/delete")
    @Desc(name="删除${entity}",type=2)
    public R delete(@RequestBody ${pk.attrType}[]${pk.attrname}s) {
        ${classname}Service.deleteBatch(${pk.attrname}s);
        return R.ok();
    }

    /**
     * 查看所有列表
     */
    @RequestMapping("/export")
    @Desc(name="${entity}导出",type=2)
    public R queryAll(@RequestParam Map<String, Object> params) {
        Object list = ${classname}Service.selectList(params);
        return R.ok().put("data", list);
    }
}
