package ${package}.dao;

import ${package}.entity.${className};
import ${package}.example.${className}Example;
import com.ljb.utils.BaseDao;
import org.springframework.stereotype.Repository;

/**
 * ${comments}Dao
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Repository
public interface ${className}Dao extends BaseDao<${className},${pk.attrType},${className}Example> {

}
