<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.dao.${className}Dao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="0" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="${package}.example.${className}Example">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ${tableName}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from ${tableName}
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="${package}.example.${className}Example">
        delete from ${tableName}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from ${tableName} where ${pk.columnName} in
        <foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
            #{${pk.attrname}}
        </foreach>
    </delete>

    <insert id="insert" parameterType="${package}.entity.${className}"#if($pk.extra == 'auto_increment')
            useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		insert into ${tableName}(
#foreach($column in $columns)
        #if($column.columnName != $pk.columnName || $pk.extra !=
            'auto_increment')`$column.columnName`#if($velocityCount != $columns.size()),#end#end
    #end
        )
		values(
#foreach($column in $columns)
        #if($column.columnName != $pk.columnName || $pk.extra !=
            'auto_increment')#{$column.attrname}#if($velocityCount != $columns.size()),#end#end
    #end
         )
	</insert>


    <insert id="insertSelective" parameterType="${package}.entity.${className}"#if($pk.extra == 'auto_increment')
            useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    <if test="$column.attrname != null">
                        `$column.columnName`#if($velocityCount != $columns.size()),#end
                    </if>
                #end
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    <if test="$column.attrname != null">
                        #{$column.attrname}#if($velocityCount != $columns.size()),
                    #end
                        #if($velocityCount == $columns.size())

                        #end
                    </if>
                #end
            #end
        </trim>
    </insert>

    <select id="countByExample" parameterType="${package}.example.${className}Example"
            resultType="java.lang.Long">
        select count(*) from ${tableName}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <if test="$column.attrname != null">
                        `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()),
                    #end
                        #if($velocityCount == $columns.size())

                        #end
                    </if>
                #end
            #end
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <if test="$column.attrname != null">
                        `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()),
                    #end
                    </if>
                #end
            #end
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="${package}.entity.${className}">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    <if test="$column.attrname != null">
                        `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()),
                    #end
                    </if>
                #end
            #end
        </set>
        where id = #{${pk.attrname}}
    </update>
    <update id="updateByPrimaryKey" parameterType="${package}.entity.${className}">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName)
                    `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()),
                #end#end#end
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
        #foreach($column in $columns)
            t.`$column.columnName` ,
        #end
        s.`id` as createUserId, s.`username` as createName
        FROM ${tableName} t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
        #foreach($column in $columns)
            t.`$column.columnName` ,
        #end
        s.`id` as createUserId, s.`username` as createName
        FROM ${tableName} t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT \${offset}, \${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM ${tableName}
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO ${tableName}
            (
            #foreach($column in $columns)
            #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                `$column.columnName`#if($velocityCount != $columns.size()),
            #end #end#end
        )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
            #foreach($column in $columns)
                #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                    #{item.$column.attrname}#if($velocityCount != $columns.size()),
                #end#end#end
            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update ${tableName}
            <set>
                #foreach($column in $columns)
                    #if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')
                        <if test="item.$column.columnName != null">`$column.columnName` = #{item.$column.columnName} #if($velocityCount != $columns.size()), #end </if>
                    #end #end
            </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="DetailsMap">
        #foreach($column in $columns)
            <result property="${column.attrname}" column="${column.columnName}"/>
        #end
        <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="${package}.entity.${className}" id="BaseResultMap">
        #foreach($column in $columns)
            <result property="${column.attrname}" column="${column.columnName}"/>
        #end
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
#foreach($column in $columns)
	    `$column.columnName`#if($velocityCount != $columns.size()),#end
    #end
  	</sql>

</mapper>
