package ${package}.service;

import com.ljb.utils.BaseService;

/**
 * ${comments}Service接口
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service<T,K,E> extends BaseService<T,K,E> {

}
