<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.CommentResultDetailsDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.CommentResultDetailsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from comment_result_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from comment_result_details
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from comment_result_details
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.CommentResultDetailsExample">
        delete from comment_result_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from comment_result_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.CommentResultDetails"            useGeneratedKeys="true" keyProperty="id">
		insert into comment_result_details(
                    `comment_id`,            `comment_result_id`,            `a1`,            `a2`,            `a3`,            `a4`,            `a5`,            `a6`,            `a7`,            `a8`,            `a9`,            `a10`,            `a11`,            `a12`,            `a13`,            `a14`,            `a15`,            `a16`,            `a17`,            `a18`,            `a19`,            `a20`,            `create_time`,            `create_id`,            `update_id`,            `update_time`,            `status`            )
		values(
                    #{commentId},            #{commentResultId},            #{a1},            #{a2},            #{a3},            #{a4},            #{a5},            #{a6},            #{a7},            #{a8},            #{a9},            #{a10},            #{a11},            #{a12},            #{a13},            #{a14},            #{a15},            #{a16},            #{a17},            #{a18},            #{a19},            #{a20},            #{createTime},            #{createId},            #{updateId},            #{updateTime},            #{status}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.CommentResultDetails"            useGeneratedKeys="true" keyProperty="id">
        insert into comment_result_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="commentId != null">
                        `comment_id`,                    </if>
                                                                <if test="commentResultId != null">
                        `comment_result_id`,                    </if>
                                                                <if test="a1 != null">
                        `a1`,                    </if>
                                                                <if test="a2 != null">
                        `a2`,                    </if>
                                                                <if test="a3 != null">
                        `a3`,                    </if>
                                                                <if test="a4 != null">
                        `a4`,                    </if>
                                                                <if test="a5 != null">
                        `a5`,                    </if>
                                                                <if test="a6 != null">
                        `a6`,                    </if>
                                                                <if test="a7 != null">
                        `a7`,                    </if>
                                                                <if test="a8 != null">
                        `a8`,                    </if>
                                                                <if test="a9 != null">
                        `a9`,                    </if>
                                                                <if test="a10 != null">
                        `a10`,                    </if>
                                                                <if test="a11 != null">
                        `a11`,                    </if>
                                                                <if test="a12 != null">
                        `a12`,                    </if>
                                                                <if test="a13 != null">
                        `a13`,                    </if>
                                                                <if test="a14 != null">
                        `a14`,                    </if>
                                                                <if test="a15 != null">
                        `a15`,                    </if>
                                                                <if test="a16 != null">
                        `a16`,                    </if>
                                                                <if test="a17 != null">
                        `a17`,                    </if>
                                                                <if test="a18 != null">
                        `a18`,                    </if>
                                                                <if test="a19 != null">
                        `a19`,                    </if>
                                                                <if test="a20 != null">
                        `a20`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`,                    </if>
                                                                <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="updateId != null">
                        `update_id`,                    </if>
                                                                <if test="updateTime != null">
                        `update_time`,                    </if>
                                                                <if test="status != null">
                        `status`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="commentId != null">
                        #{commentId},
                                                                </if>
                                                                <if test="commentResultId != null">
                        #{commentResultId},
                                                                </if>
                                                                <if test="a1 != null">
                        #{a1},
                                                                </if>
                                                                <if test="a2 != null">
                        #{a2},
                                                                </if>
                                                                <if test="a3 != null">
                        #{a3},
                                                                </if>
                                                                <if test="a4 != null">
                        #{a4},
                                                                </if>
                                                                <if test="a5 != null">
                        #{a5},
                                                                </if>
                                                                <if test="a6 != null">
                        #{a6},
                                                                </if>
                                                                <if test="a7 != null">
                        #{a7},
                                                                </if>
                                                                <if test="a8 != null">
                        #{a8},
                                                                </if>
                                                                <if test="a9 != null">
                        #{a9},
                                                                </if>
                                                                <if test="a10 != null">
                        #{a10},
                                                                </if>
                                                                <if test="a11 != null">
                        #{a11},
                                                                </if>
                                                                <if test="a12 != null">
                        #{a12},
                                                                </if>
                                                                <if test="a13 != null">
                        #{a13},
                                                                </if>
                                                                <if test="a14 != null">
                        #{a14},
                                                                </if>
                                                                <if test="a15 != null">
                        #{a15},
                                                                </if>
                                                                <if test="a16 != null">
                        #{a16},
                                                                </if>
                                                                <if test="a17 != null">
                        #{a17},
                                                                </if>
                                                                <if test="a18 != null">
                        #{a18},
                                                                </if>
                                                                <if test="a19 != null">
                        #{a19},
                                                                </if>
                                                                <if test="a20 != null">
                        #{a20},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime},
                                                                </if>
                                                                <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="updateId != null">
                        #{updateId},
                                                                </if>
                                                                <if test="updateTime != null">
                        #{updateTime},
                                                                </if>
                                                                <if test="status != null">
                        #{status}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.CommentResultDetailsExample"
            resultType="java.lang.Long">
        select count(*) from comment_result_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update comment_result_details
        <set>
                                                                            <if test="commentId != null">
                        `comment_id` = #{commentId},
                                                                </if>
                                                                <if test="commentResultId != null">
                        `comment_result_id` = #{commentResultId},
                                                                </if>
                                                                <if test="a1 != null">
                        `a1` = #{a1},
                                                                </if>
                                                                <if test="a2 != null">
                        `a2` = #{a2},
                                                                </if>
                                                                <if test="a3 != null">
                        `a3` = #{a3},
                                                                </if>
                                                                <if test="a4 != null">
                        `a4` = #{a4},
                                                                </if>
                                                                <if test="a5 != null">
                        `a5` = #{a5},
                                                                </if>
                                                                <if test="a6 != null">
                        `a6` = #{a6},
                                                                </if>
                                                                <if test="a7 != null">
                        `a7` = #{a7},
                                                                </if>
                                                                <if test="a8 != null">
                        `a8` = #{a8},
                                                                </if>
                                                                <if test="a9 != null">
                        `a9` = #{a9},
                                                                </if>
                                                                <if test="a10 != null">
                        `a10` = #{a10},
                                                                </if>
                                                                <if test="a11 != null">
                        `a11` = #{a11},
                                                                </if>
                                                                <if test="a12 != null">
                        `a12` = #{a12},
                                                                </if>
                                                                <if test="a13 != null">
                        `a13` = #{a13},
                                                                </if>
                                                                <if test="a14 != null">
                        `a14` = #{a14},
                                                                </if>
                                                                <if test="a15 != null">
                        `a15` = #{a15},
                                                                </if>
                                                                <if test="a16 != null">
                        `a16` = #{a16},
                                                                </if>
                                                                <if test="a17 != null">
                        `a17` = #{a17},
                                                                </if>
                                                                <if test="a18 != null">
                        `a18` = #{a18},
                                                                </if>
                                                                <if test="a19 != null">
                        `a19` = #{a19},
                                                                </if>
                                                                <if test="a20 != null">
                        `a20` = #{a20},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                                                </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                                                </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                                                </if>
                                                                <if test="status != null">
                        `status` = #{status}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update comment_result_details
        <set>
                                                                            <if test="commentId != null">
                        `comment_id` = #{commentId},
                                        </if>
                                                                <if test="commentResultId != null">
                        `comment_result_id` = #{commentResultId},
                                        </if>
                                                                <if test="a1 != null">
                        `a1` = #{a1},
                                        </if>
                                                                <if test="a2 != null">
                        `a2` = #{a2},
                                        </if>
                                                                <if test="a3 != null">
                        `a3` = #{a3},
                                        </if>
                                                                <if test="a4 != null">
                        `a4` = #{a4},
                                        </if>
                                                                <if test="a5 != null">
                        `a5` = #{a5},
                                        </if>
                                                                <if test="a6 != null">
                        `a6` = #{a6},
                                        </if>
                                                                <if test="a7 != null">
                        `a7` = #{a7},
                                        </if>
                                                                <if test="a8 != null">
                        `a8` = #{a8},
                                        </if>
                                                                <if test="a9 != null">
                        `a9` = #{a9},
                                        </if>
                                                                <if test="a10 != null">
                        `a10` = #{a10},
                                        </if>
                                                                <if test="a11 != null">
                        `a11` = #{a11},
                                        </if>
                                                                <if test="a12 != null">
                        `a12` = #{a12},
                                        </if>
                                                                <if test="a13 != null">
                        `a13` = #{a13},
                                        </if>
                                                                <if test="a14 != null">
                        `a14` = #{a14},
                                        </if>
                                                                <if test="a15 != null">
                        `a15` = #{a15},
                                        </if>
                                                                <if test="a16 != null">
                        `a16` = #{a16},
                                        </if>
                                                                <if test="a17 != null">
                        `a17` = #{a17},
                                        </if>
                                                                <if test="a18 != null">
                        `a18` = #{a18},
                                        </if>
                                                                <if test="a19 != null">
                        `a19` = #{a19},
                                        </if>
                                                                <if test="a20 != null">
                        `a20` = #{a20},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                        </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                        </if>
                                                                <if test="status != null">
                        `status` = #{status}                    </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.CommentResultDetails">
        update comment_result_details
        <set>
                                                                            <if test="commentId != null">
                        `comment_id` = #{commentId},
                                        </if>
                                                                <if test="commentResultId != null">
                        `comment_result_id` = #{commentResultId},
                                        </if>
                                                                <if test="a1 != null">
                        `a1` = #{a1},
                                        </if>
                                                                <if test="a2 != null">
                        `a2` = #{a2},
                                        </if>
                                                                <if test="a3 != null">
                        `a3` = #{a3},
                                        </if>
                                                                <if test="a4 != null">
                        `a4` = #{a4},
                                        </if>
                                                                <if test="a5 != null">
                        `a5` = #{a5},
                                        </if>
                                                                <if test="a6 != null">
                        `a6` = #{a6},
                                        </if>
                                                                <if test="a7 != null">
                        `a7` = #{a7},
                                        </if>
                                                                <if test="a8 != null">
                        `a8` = #{a8},
                                        </if>
                                                                <if test="a9 != null">
                        `a9` = #{a9},
                                        </if>
                                                                <if test="a10 != null">
                        `a10` = #{a10},
                                        </if>
                                                                <if test="a11 != null">
                        `a11` = #{a11},
                                        </if>
                                                                <if test="a12 != null">
                        `a12` = #{a12},
                                        </if>
                                                                <if test="a13 != null">
                        `a13` = #{a13},
                                        </if>
                                                                <if test="a14 != null">
                        `a14` = #{a14},
                                        </if>
                                                                <if test="a15 != null">
                        `a15` = #{a15},
                                        </if>
                                                                <if test="a16 != null">
                        `a16` = #{a16},
                                        </if>
                                                                <if test="a17 != null">
                        `a17` = #{a17},
                                        </if>
                                                                <if test="a18 != null">
                        `a18` = #{a18},
                                        </if>
                                                                <if test="a19 != null">
                        `a19` = #{a19},
                                        </if>
                                                                <if test="a20 != null">
                        `a20` = #{a20},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                        </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                        </if>
                                                                <if test="status != null">
                        `status` = #{status}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.CommentResultDetails">
        update comment_result_details
        <set>
                                                                `comment_id` = #{commentId},
                                                    `comment_result_id` = #{commentResultId},
                                                    `a1` = #{a1},
                                                    `a2` = #{a2},
                                                    `a3` = #{a3},
                                                    `a4` = #{a4},
                                                    `a5` = #{a5},
                                                    `a6` = #{a6},
                                                    `a7` = #{a7},
                                                    `a8` = #{a8},
                                                    `a9` = #{a9},
                                                    `a10` = #{a10},
                                                    `a11` = #{a11},
                                                    `a12` = #{a12},
                                                    `a13` = #{a13},
                                                    `a14` = #{a14},
                                                    `a15` = #{a15},
                                                    `a16` = #{a16},
                                                    `a17` = #{a17},
                                                    `a18` = #{a18},
                                                    `a19` = #{a19},
                                                    `a20` = #{a20},
                                                    `create_time` = #{createTime},
                                                    `create_id` = #{createId},
                                                    `update_id` = #{updateId},
                                                    `update_time` = #{updateTime},
                                                    `status` = #{status}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`comment_id` ,
                    t.`comment_result_id` ,
                    t.`a1` ,
                    t.`a2` ,
                    t.`a3` ,
                    t.`a4` ,
                    t.`a5` ,
                    t.`a6` ,
                    t.`a7` ,
                    t.`a8` ,
                    t.`a9` ,
                    t.`a10` ,
                    t.`a11` ,
                    t.`a12` ,
                    t.`a13` ,
                    t.`a14` ,
                    t.`a15` ,
                    t.`a16` ,
                    t.`a17` ,
                    t.`a18` ,
                    t.`a19` ,
                    t.`a20` ,
                    t.`create_time` ,
                    t.`create_id` ,
                    t.`update_id` ,
                    t.`update_time` ,
                    t.`status` ,
                s.`id` as createUserId, s.`username` as createName
        FROM comment_result_details t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`comment_id` ,
                    t.`comment_result_id` ,
                    t.`a1` ,
                    t.`a2` ,
                    t.`a3` ,
                    t.`a4` ,
                    t.`a5` ,
                    t.`a6` ,
                    t.`a7` ,
                    t.`a8` ,
                    t.`a9` ,
                    t.`a10` ,
                    t.`a11` ,
                    t.`a12` ,
                    t.`a13` ,
                    t.`a14` ,
                    t.`a15` ,
                    t.`a16` ,
                    t.`a17` ,
                    t.`a18` ,
                    t.`a19` ,
                    t.`a20` ,
                    t.`create_time` ,
                    t.`create_id` ,
                    t.`update_id` ,
                    t.`update_time` ,
                    t.`status` ,
                s.`id` as createUserId, s.`username` as createName
        FROM comment_result_details t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT \${offset}, \${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM comment_result_details
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO comment_result_details
            (
                                                    `comment_id`,
                                         `comment_result_id`,
                                         `a1`,
                                         `a2`,
                                         `a3`,
                                         `a4`,
                                         `a5`,
                                         `a6`,
                                         `a7`,
                                         `a8`,
                                         `a9`,
                                         `a10`,
                                         `a11`,
                                         `a12`,
                                         `a13`,
                                         `a14`,
                                         `a15`,
                                         `a16`,
                                         `a17`,
                                         `a18`,
                                         `a19`,
                                         `a20`,
                                         `create_time`,
                                         `create_id`,
                                         `update_id`,
                                         `update_time`,
                                         `status`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                                #{item.commentId},
                                                    #{item.commentResultId},
                                                    #{item.a1},
                                                    #{item.a2},
                                                    #{item.a3},
                                                    #{item.a4},
                                                    #{item.a5},
                                                    #{item.a6},
                                                    #{item.a7},
                                                    #{item.a8},
                                                    #{item.a9},
                                                    #{item.a10},
                                                    #{item.a11},
                                                    #{item.a12},
                                                    #{item.a13},
                                                    #{item.a14},
                                                    #{item.a15},
                                                    #{item.a16},
                                                    #{item.a17},
                                                    #{item.a18},
                                                    #{item.a19},
                                                    #{item.a20},
                                                    #{item.createTime},
                                                    #{item.createId},
                                                    #{item.updateId},
                                                    #{item.updateTime},
                                                    #{item.status}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update comment_result_details
            <set>
                                                                                 <if test="item.comment_id != null">`comment_id` = #{item.comment_id} ,  </if>
                                                                 <if test="item.comment_result_id != null">`comment_result_id` = #{item.comment_result_id} ,  </if>
                                                                 <if test="item.a1 != null">`a1` = #{item.a1} ,  </if>
                                                                 <if test="item.a2 != null">`a2` = #{item.a2} ,  </if>
                                                                 <if test="item.a3 != null">`a3` = #{item.a3} ,  </if>
                                                                 <if test="item.a4 != null">`a4` = #{item.a4} ,  </if>
                                                                 <if test="item.a5 != null">`a5` = #{item.a5} ,  </if>
                                                                 <if test="item.a6 != null">`a6` = #{item.a6} ,  </if>
                                                                 <if test="item.a7 != null">`a7` = #{item.a7} ,  </if>
                                                                 <if test="item.a8 != null">`a8` = #{item.a8} ,  </if>
                                                                 <if test="item.a9 != null">`a9` = #{item.a9} ,  </if>
                                                                 <if test="item.a10 != null">`a10` = #{item.a10} ,  </if>
                                                                 <if test="item.a11 != null">`a11` = #{item.a11} ,  </if>
                                                                 <if test="item.a12 != null">`a12` = #{item.a12} ,  </if>
                                                                 <if test="item.a13 != null">`a13` = #{item.a13} ,  </if>
                                                                 <if test="item.a14 != null">`a14` = #{item.a14} ,  </if>
                                                                 <if test="item.a15 != null">`a15` = #{item.a15} ,  </if>
                                                                 <if test="item.a16 != null">`a16` = #{item.a16} ,  </if>
                                                                 <if test="item.a17 != null">`a17` = #{item.a17} ,  </if>
                                                                 <if test="item.a18 != null">`a18` = #{item.a18} ,  </if>
                                                                 <if test="item.a19 != null">`a19` = #{item.a19} ,  </if>
                                                                 <if test="item.a20 != null">`a20` = #{item.a20} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time} ,  </if>
                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.update_id != null">`update_id` = #{item.update_id} ,  </if>
                                                                 <if test="item.update_time != null">`update_time` = #{item.update_time} ,  </if>
                                                                 <if test="item.status != null">`status` = #{item.status}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="commentId" column="comment_id"/>
                    <result property="commentResultId" column="comment_result_id"/>
                    <result property="a1" column="a1"/>
                    <result property="a2" column="a2"/>
                    <result property="a3" column="a3"/>
                    <result property="a4" column="a4"/>
                    <result property="a5" column="a5"/>
                    <result property="a6" column="a6"/>
                    <result property="a7" column="a7"/>
                    <result property="a8" column="a8"/>
                    <result property="a9" column="a9"/>
                    <result property="a10" column="a10"/>
                    <result property="a11" column="a11"/>
                    <result property="a12" column="a12"/>
                    <result property="a13" column="a13"/>
                    <result property="a14" column="a14"/>
                    <result property="a15" column="a15"/>
                    <result property="a16" column="a16"/>
                    <result property="a17" column="a17"/>
                    <result property="a18" column="a18"/>
                    <result property="a19" column="a19"/>
                    <result property="a20" column="a20"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createId" column="create_id"/>
                    <result property="updateId" column="update_id"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="status" column="status"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.CommentResultDetails" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="commentId" column="comment_id"/>
                    <result property="commentResultId" column="comment_result_id"/>
                    <result property="a1" column="a1"/>
                    <result property="a2" column="a2"/>
                    <result property="a3" column="a3"/>
                    <result property="a4" column="a4"/>
                    <result property="a5" column="a5"/>
                    <result property="a6" column="a6"/>
                    <result property="a7" column="a7"/>
                    <result property="a8" column="a8"/>
                    <result property="a9" column="a9"/>
                    <result property="a10" column="a10"/>
                    <result property="a11" column="a11"/>
                    <result property="a12" column="a12"/>
                    <result property="a13" column="a13"/>
                    <result property="a14" column="a14"/>
                    <result property="a15" column="a15"/>
                    <result property="a16" column="a16"/>
                    <result property="a17" column="a17"/>
                    <result property="a18" column="a18"/>
                    <result property="a19" column="a19"/>
                    <result property="a20" column="a20"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createId" column="create_id"/>
                    <result property="updateId" column="update_id"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="status" column="status"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `comment_id`,    	    `comment_result_id`,    	    `a1`,    	    `a2`,    	    `a3`,    	    `a4`,    	    `a5`,    	    `a6`,    	    `a7`,    	    `a8`,    	    `a9`,    	    `a10`,    	    `a11`,    	    `a12`,    	    `a13`,    	    `a14`,    	    `a15`,    	    `a16`,    	    `a17`,    	    `a18`,    	    `a19`,    	    `a20`,    	    `create_time`,    	    `create_id`,    	    `update_id`,    	    `update_time`,    	    `status`      	</sql>

</mapper>
