<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.CourseTeacherDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.CourseTeacherExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from course_teacher
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from course_teacher
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from course_teacher
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.CourseTeacherExample">
        delete from course_teacher
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from course_teacher where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.CourseTeacher"            useGeneratedKeys="true" keyProperty="id">
		insert into course_teacher(
                    `course_id`,            `user_id`,            `create_id`,            `create_time`            )
		values(
                    #{courseId},            #{userId},            #{createId},            #{createTime}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.CourseTeacher"            useGeneratedKeys="true" keyProperty="id">
        insert into course_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="courseId != null">
                        `course_id`,                    </if>
                                                                <if test="userId != null">
                        `user_id`,                    </if>
                                                                <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="courseId != null">
                        #{courseId},
                                                                </if>
                                                                <if test="userId != null">
                        #{userId},
                                                                </if>
                                                                <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.CourseTeacherExample"
            resultType="java.lang.Long">
        select count(*) from course_teacher
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update course_teacher
        <set>
                                                                            <if test="courseId != null">
                        `course_id` = #{courseId},
                                                                </if>
                                                                <if test="userId != null">
                        `user_id` = #{userId},
                                                                </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update course_teacher
        <set>
                                                                            <if test="courseId != null">
                        `course_id` = #{courseId},
                                        </if>
                                                                <if test="userId != null">
                        `user_id` = #{userId},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime}                    </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.CourseTeacher">
        update course_teacher
        <set>
                                                                            <if test="courseId != null">
                        `course_id` = #{courseId},
                                        </if>
                                                                <if test="userId != null">
                        `user_id` = #{userId},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.CourseTeacher">
        update course_teacher
        <set>
                                                                `course_id` = #{courseId},
                                                    `user_id` = #{userId},
                                                    `create_id` = #{createId},
                                                    `create_time` = #{createTime}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`course_id` ,
                    t.`user_id` ,
                    t.`create_id` ,
                    t.`create_time` ,
                s.`id` as createUserId, s.`username` as createName
        FROM course_teacher t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>


    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`course_id` ,
                    t.`user_id` ,
                    t.`create_id` ,
                    t.`create_time` ,
                s.`id` as createUserId, s.`username` as createName
        FROM course_teacher t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT \${offset}, \${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM course_teacher
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO course_teacher
            (
                                                    `course_id`,
                                         `user_id`,
                                         `create_id`,
                                         `create_time`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                                #{item.courseId},
                                                    #{item.userId},
                                                    #{item.createId},
                                                    #{item.createTime}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update course_teacher
            <set>
                                                                                 <if test="item.course_id != null">`course_id` = #{item.course_id} ,  </if>
                                                                 <if test="item.user_id != null">`user_id` = #{item.user_id} ,  </if>
                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>


    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="courseId" column="course_id"/>
                    <result property="userId" column="user_id"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.CourseTeacher" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="courseId" column="course_id"/>
                    <result property="userId" column="user_id"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `course_id`,    	    `user_id`,    	    `create_id`,    	    `create_time`      	</sql>

</mapper>
