<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.QuestionDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.QuestionExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from question
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from question
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from question
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.QuestionExample">
        delete from question
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from question where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.Question"            useGeneratedKeys="true" keyProperty="id">
		insert into question(
                    `content`,            `proportion`,            `create_id`,            `create_time`,            `optionA`,            `optionB`,            `optionC`,            `optionD`,            `optionE`,            `type`,            `remark`,            `answer`            )
		values(
                    #{content},            #{proportion},            #{createId},            #{createTime},            #{optiona},            #{optionb},            #{optionc},            #{optiond},            #{optione},            #{type},            #{remark},            #{answer}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.Question"            useGeneratedKeys="true" keyProperty="id">
        insert into question
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="content != null">
                        `content`,                    </if>
                                                                <if test="proportion != null">
                        `proportion`,                    </if>
                                                                <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`,                    </if>
                                                                <if test="optiona != null">
                        `optionA`,                    </if>
                                                                <if test="optionb != null">
                        `optionB`,                    </if>
                                                                <if test="optionc != null">
                        `optionC`,                    </if>
                                                                <if test="optiond != null">
                        `optionD`,                    </if>
                                                                <if test="optione != null">
                        `optionE`,                    </if>
                                                                <if test="type != null">
                        `type`,                    </if>
                                                                <if test="remark != null">
                        `remark`,                    </if>
                                                                <if test="answer != null">
                        `answer`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="content != null">
                        #{content},
                                                                </if>
                                                                <if test="proportion != null">
                        #{proportion},
                                                                </if>
                                                                <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime},
                                                                </if>
                                                                <if test="optiona != null">
                        #{optiona},
                                                                </if>
                                                                <if test="optionb != null">
                        #{optionb},
                                                                </if>
                                                                <if test="optionc != null">
                        #{optionc},
                                                                </if>
                                                                <if test="optiond != null">
                        #{optiond},
                                                                </if>
                                                                <if test="optione != null">
                        #{optione},
                                                                </if>
                                                                <if test="type != null">
                        #{type},
                                                                </if>
                                                                <if test="remark != null">
                        #{remark},
                                                                </if>
                                                                <if test="answer != null">
                        #{answer}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.QuestionExample"
            resultType="java.lang.Long">
        select count(*) from question
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update question
        <set>
                                                                            <if test="content != null">
                        `content` = #{content},
                                                                </if>
                                                                <if test="proportion != null">
                        `proportion` = #{proportion},
                                                                </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                                                </if>
                                                                <if test="optiona != null">
                        `optionA` = #{optiona},
                                                                </if>
                                                                <if test="optionb != null">
                        `optionB` = #{optionb},
                                                                </if>
                                                                <if test="optionc != null">
                        `optionC` = #{optionc},
                                                                </if>
                                                                <if test="optiond != null">
                        `optionD` = #{optiond},
                                                                </if>
                                                                <if test="optione != null">
                        `optionE` = #{optione},
                                                                </if>
                                                                <if test="type != null">
                        `type` = #{type},
                                                                </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                                                </if>
                                                                <if test="answer != null">
                        `answer` = #{answer}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update question
        <set>
                                                                            <if test="content != null">
                        `content` = #{content},
                                        </if>
                                                                <if test="proportion != null">
                        `proportion` = #{proportion},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="optiona != null">
                        `optionA` = #{optiona},
                                        </if>
                                                                <if test="optionb != null">
                        `optionB` = #{optionb},
                                        </if>
                                                                <if test="optionc != null">
                        `optionC` = #{optionc},
                                        </if>
                                                                <if test="optiond != null">
                        `optionD` = #{optiond},
                                        </if>
                                                                <if test="optione != null">
                        `optionE` = #{optione},
                                        </if>
                                                                <if test="type != null">
                        `type` = #{type},
                                        </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                        </if>
                                                                <if test="answer != null">
                        `answer` = #{answer}                    </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.Question">
        update question
        <set>
                                                                            <if test="content != null">
                        `content` = #{content},
                                        </if>
                                                                <if test="proportion != null">
                        `proportion` = #{proportion},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="optiona != null">
                        `optionA` = #{optiona},
                                        </if>
                                                                <if test="optionb != null">
                        `optionB` = #{optionb},
                                        </if>
                                                                <if test="optionc != null">
                        `optionC` = #{optionc},
                                        </if>
                                                                <if test="optiond != null">
                        `optionD` = #{optiond},
                                        </if>
                                                                <if test="optione != null">
                        `optionE` = #{optione},
                                        </if>
                                                                <if test="type != null">
                        `type` = #{type},
                                        </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                        </if>
                                                                <if test="answer != null">
                        `answer` = #{answer}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.Question">
        update question
        <set>
                                                                `content` = #{content},
                                                    `proportion` = #{proportion},
                                                    `create_id` = #{createId},
                                                    `create_time` = #{createTime},
                                                    `optionA` = #{optiona},
                                                    `optionB` = #{optionb},
                                                    `optionC` = #{optionc},
                                                    `optionD` = #{optiond},
                                                    `optionE` = #{optione},
                                                    `type` = #{type},
                                                    `remark` = #{remark},
                                                    `answer` = #{answer}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`content` ,
                    t.`proportion` ,
                    t.`create_id` ,
                    t.`create_time` ,
                    t.`optionA` ,
                    t.`optionB` ,
                    t.`optionC` ,
                    t.`optionD` ,
                    t.`optionE` ,
                    t.`type` ,
                    t.`remark` ,
                    t.`answer` ,
                s.`id` as createUserId, s.`username` as createName
        FROM question t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
        t.`id` ,
        t.`content` ,
        t.`proportion` ,
        t.`create_id` ,
        t.`create_time` ,
        t.`optionA` ,
        t.`optionB` ,
        t.`optionC` ,
        t.`optionD` ,
        t.`optionE` ,
        t.`type` ,
        t.`remark` ,
        t.`answer` ,
        s.`id` as createUserId, s.`username` as createName
        FROM comment_question cq, question t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
            <if test="pid != null">
                cq.`question_id`=t.`id` and cq.`comment_id`=#{pid}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT ${offset}, ${limit}
        </if>
    </select>
    <select id="questionList"  resultMap="BaseMap">
        SELECT
        t.`id` ,
        t.`content` ,
        t.`proportion` ,
        t.`optionA` ,
        t.`optionB` ,
        t.`optionC` ,
        t.`optionD` ,
        t.`optionE`
        FROM question t
        WHERE t.`type`=#{id}
        ORDER BY t.`id` ASC
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM question,comment_question
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="pid != null">
                comment_question.`question_id`=question.`id` and comment_question.`comment_id`=#{pid}
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO question
            (
                                                    `content`,
                                         `proportion`,
                                         `create_id`,
                                         `create_time`,
                                         `optionA`,
                                         `optionB`,
                                         `optionC`,
                                         `optionD`,
                                         `optionE`,
                                         `type`,
                                         `remark`,
                                         `answer`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                                #{item.content},
                                                    #{item.proportion},
                                                    #{item.createId},
                                                    #{item.createTime},
                                                    #{item.optiona},
                                                    #{item.optionb},
                                                    #{item.optionc},
                                                    #{item.optiond},
                                                    #{item.optione},
                                                    #{item.type},
                                                    #{item.remark},
                                                    #{item.answer}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update question
            <set>
                                                                                 <if test="item.content != null">`content` = #{item.content} ,  </if>
                                                                 <if test="item.proportion != null">`proportion` = #{item.proportion} ,  </if>
                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time} ,  </if>
                                                                 <if test="item.optionA != null">`optionA` = #{item.optionA} ,  </if>
                                                                 <if test="item.optionB != null">`optionB` = #{item.optionB} ,  </if>
                                                                 <if test="item.optionC != null">`optionC` = #{item.optionC} ,  </if>
                                                                 <if test="item.optionD != null">`optionD` = #{item.optionD} ,  </if>
                                                                 <if test="item.optionE != null">`optionE` = #{item.optionE} ,  </if>
                                                                 <if test="item.type != null">`type` = #{item.type} ,  </if>
                                                                 <if test="item.remark != null">`remark` = #{item.remark} ,  </if>
                                                                 <if test="item.answer != null">`answer` = #{item.answer}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="BaseMap">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="proportion" column="proportion"/>
        <result property="optiona" column="optionA"/>
        <result property="optionb" column="optionB"/>
        <result property="optionc" column="optionC"/>
        <result property="optiond" column="optionD"/>
        <result property="optione" column="optionE"/>
    </resultMap>

    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="content" column="content"/>
                    <result property="proportion" column="proportion"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
                    <result property="optiona" column="optionA"/>
                    <result property="optionb" column="optionB"/>
                    <result property="optionc" column="optionC"/>
                    <result property="optiond" column="optionD"/>
                    <result property="optione" column="optionE"/>
                    <result property="type" column="type"/>
                    <result property="remark" column="remark"/>
                    <result property="answer" column="answer"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.Question" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="content" column="content"/>
                    <result property="proportion" column="proportion"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
                    <result property="optiona" column="optionA"/>
                    <result property="optionb" column="optionB"/>
                    <result property="optionc" column="optionC"/>
                    <result property="optiond" column="optionD"/>
                    <result property="optione" column="optionE"/>
                    <result property="type" column="type"/>
                    <result property="remark" column="remark"/>
                    <result property="answer" column="answer"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `content`,    	    `proportion`,    	    `create_id`,    	    `create_time`,    	    `optionA`,    	    `optionB`,    	    `optionC`,    	    `optionD`,    	    `optionE`,    	    `type`,    	    `remark`,    	    `answer`      	</sql>

</mapper>
