<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.RegionDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="schoolList" resultMap="pMap">
         SELECT t.id, t.name FROM sys_region t WHERE t.`type`=1
    </select>

    <select id="cityList" resultMap="cMap">
        select t.id,t.name from sys_region t where t.`parent_id`=#{id}
    </select>

    <select id="universityList" resultMap="uMap">
        select t.id,t.name from university t where t.`region_id`=#{id}
    </select>


    <resultMap type="map" id="pMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="citys" javaType="ArrayList" column="id"  select="cityList"/>
    </resultMap>
    <resultMap type="map"  id="cMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="universitys" javaType="ArrayList" column="id" select="universityList"/>
    </resultMap>
    <resultMap type="map" id="uMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="collegeList" resultMap="ppMap">
         SELECT t.id, t.name FROM sys_region t WHERE t.`type`=1
    </select>

    <select id="ccityList" resultMap="ccMap">
        select t.id,t.name from sys_region t where t.`parent_id`=#{id}
    </select>

    <select id="cuniversityList" resultMap="uuMap">
        select t.id,t.name from university t where t.`region_id`=#{id}
    </select>

    <select id="ccollege" resultType="map">
        select t.id,t.name from college t where t.`univerity_id`=#{id}
    </select>

    <resultMap type="map" id="ppMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="citys" javaType="ArrayList" column="id"  select="ccityList"/>
    </resultMap>
    <resultMap type="map"  id="ccMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="universitys" javaType="ArrayList" column="id" select="cuniversityList"/>
    </resultMap>
    <resultMap type="map" id="uuMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="colleges" javaType="ArrayList" column="id" select="ccollege"/>
    </resultMap>


    <select id="teacherList" resultMap="pppMap">
         SELECT t.id, t.name FROM sys_region t WHERE t.`type`=1
    </select>

    <select id="cccityList" resultMap="cccMap">
        select t.id,t.name from sys_region t where t.`parent_id`=#{id}
    </select>

    <select id="ccuniversityList" resultMap="uuuMap">
        select t.id,t.name from university t where t.`region_id`=#{id}
    </select>

    <select id="cccollege" resultMap="collegeMap">
        select t.id,t.name from college t where t.`univerity_id`=#{id}
    </select>

    <select id="teacher" resultType="map">
        select t.id,t.username as name from sys_user t,college_user cu  where t.`id`=cu.`user_id` and cu.`college_id`=#{id}
    </select>

    <resultMap type="map" id="pppMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="citys" javaType="ArrayList" column="id"  select="cccityList"/>
    </resultMap>
    <resultMap type="map"  id="cccMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="universitys" javaType="ArrayList" column="id" select="ccuniversityList"/>
    </resultMap>
    <resultMap type="map" id="uuuMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="colleges" javaType="ArrayList" column="id" select="cccollege"/>
    </resultMap>
    <resultMap type="map" id="collegeMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="teachers" javaType="ArrayList" column="id" select="teacher"/>
    </resultMap>



</mapper>
