<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.UniversityDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.UniversityExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from university
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from university
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from university
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.UniversityExample">
        delete from university
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from university where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.University"            useGeneratedKeys="true" keyProperty="id">
		insert into university(
                    `name`,            `region_id`,            `remark`,            `create_id`,            `create_time`,            `update_id`,            `update_time`,            `contacts`,            `phone`            )
		values(
                    #{name},            #{regionId},            #{remark},            #{createId},            #{createTime},            #{updateId},            #{updateTime},            #{contacts},            #{phone}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.University"            useGeneratedKeys="true" keyProperty="id">
        insert into university
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="name != null">
                        `name`,                    </if>
                                                                <if test="regionId != null">
                        `region_id`,                    </if>
                                                                <if test="remark != null">
                        `remark`,                    </if>
                                                                <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`,                    </if>
                                                                <if test="updateId != null">
                        `update_id`,                    </if>
                                                                <if test="updateTime != null">
                        `update_time`,                    </if>
                                                                <if test="contacts != null">
                        `contacts`,                    </if>
                                                                <if test="phone != null">
                        `phone`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="name != null">
                        #{name},
                                                                </if>
                                                                <if test="regionId != null">
                        #{regionId},
                                                                </if>
                                                                <if test="remark != null">
                        #{remark},
                                                                </if>
                                                                <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime},
                                                                </if>
                                                                <if test="updateId != null">
                        #{updateId},
                                                                </if>
                                                                <if test="updateTime != null">
                        #{updateTime},
                                                                </if>
                                                                <if test="contacts != null">
                        #{contacts},
                                                                </if>
                                                                <if test="phone != null">
                        #{phone}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.UniversityExample"
            resultType="java.lang.Long">
        select count(*) from university
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update university
        <set>
                                                                            <if test="name != null">
                        `name` = #{name},
                                                                </if>
                                                                <if test="regionId != null">
                        `region_id` = #{regionId},
                                                                </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                                                </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                                                </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                                                </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                                                </if>
                                                                <if test="contacts != null">
                        `contacts` = #{contacts},
                                                                </if>
                                                                <if test="phone != null">
                        `phone` = #{phone}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update university
        <set>
                                                                            <if test="name != null">
                        `name` = #{name},
                                        </if>
                                                                <if test="regionId != null">
                        `region_id` = #{regionId},
                                        </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                        </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                        </if>
                                                                <if test="contacts != null">
                        `contacts` = #{contacts},
                                        </if>
                                                                <if test="phone != null">
                        `phone` = #{phone}                    </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.University">
        update university
        <set>
                                                                            <if test="name != null">
                        `name` = #{name},
                                        </if>
                                                                <if test="regionId != null">
                        `region_id` = #{regionId},
                                        </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="updateId != null">
                        `update_id` = #{updateId},
                                        </if>
                                                                <if test="updateTime != null">
                        `update_time` = #{updateTime},
                                        </if>
                                                                <if test="contacts != null">
                        `contacts` = #{contacts},
                                        </if>
                                                                <if test="phone != null">
                        `phone` = #{phone}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.University">
        update university
        <set>
                                                                `name` = #{name},
                                                    `region_id` = #{regionId},
                                                    `remark` = #{remark},
                                                    `create_id` = #{createId},
                                                    `create_time` = #{createTime},
                                                    `update_id` = #{updateId},
                                                    `update_time` = #{updateTime},
                                                    `contacts` = #{contacts},
                                                    `phone` = #{phone}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="schoolList" resultMap="BaseResultMap">
        SELECT
                    t.`id` ,
                    t.`name`
                     t.`region_id`
        FROM university t
    </select>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`name` ,
                    t.`region_id` ,
                    t.`remark` ,
                    t.`create_id` ,
                    t.`create_time` ,
                    t.`update_id` ,
                    t.`update_time` ,
                    r.`name` AS region_name,
                s.`id` AS createUserId, s.`username` AS createName
        FROM university t LEFT JOIN sys_user s ON s.`id`= t.`create_id`  LEFT JOIN sys_region r ON r.`id` =t.`region_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`name` ,
                    t.`region_id` ,
                    t.`remark` ,
                    t.`create_id` ,
                    t.`create_time` ,
                    t.`update_id` ,
                    t.`update_time` ,
                    t.`contacts` ,
                    t.`phone` ,
        r.`name` AS region_name,
                s.`id` as createUserId, s.`username` as createName
        FROM university t left join sys_user s on s.`id`= t.`create_id` LEFT JOIN sys_region r ON r.`id` =t.`region_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
            <if test="pid != null">
                t.`region_id`=#{pid}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT ${offset}, ${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM university
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="pid != null">
                `region_id`=#{pid}
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO university
            (
                                                    `name`,
                                         `region_id`,
                                         `remark`,
                                         `create_id`,
                                         `create_time`,
                                         `update_id`,
                                         `update_time`,
                                         `contacts`,
                                         `phone`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                                #{item.name},
                                                    #{item.regionId},
                                                    #{item.remark},
                                                    #{item.createId},
                                                    #{item.createTime},
                                                    #{item.updateId},
                                                    #{item.updateTime},
                                                    #{item.contacts},
                                                    #{item.phone}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update university
            <set>
                                                                                 <if test="item.name != null">`name` = #{item.name} ,  </if>
                                                                 <if test="item.region_id != null">`region_id` = #{item.region_id} ,  </if>
                                                                 <if test="item.remark != null">`remark` = #{item.remark} ,  </if>
                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time} ,  </if>
                                                                 <if test="item.update_id != null">`update_id` = #{item.update_id} ,  </if>
                                                                 <if test="item.update_time != null">`update_time` = #{item.update_time} ,  </if>
                                                                 <if test="item.contacts != null">`contacts` = #{item.contacts} ,  </if>
                                                                 <if test="item.phone != null">`phone` = #{item.phone}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="regionId" column="region_id"/>
                    <result property="remark" column="remark"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateId" column="update_id"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="contacts" column="contacts"/>
                    <result property="phone" column="phone"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.University" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="name" column="name"/>
                    <result property="regionId" column="region_id"/>
                    <result property="remark" column="remark"/>
                    <result property="createId" column="create_id"/>
                    <result property="createTime" column="create_time"/>
                    <result property="updateId" column="update_id"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="contacts" column="contacts"/>
                    <result property="phone" column="phone"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `name`,    	    `region_id`,    	    `remark`,    	    `create_id`,    	    `create_time`,    	    `update_id`,    	    `update_time`,    	    `contacts`,    	    `phone`      	</sql>

</mapper>
