<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.SysSmsLogDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.SysSmsLogExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sys_sms_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_sms_log
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_sms_log
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.SysSmsLogExample">
        delete from sys_sms_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from sys_sms_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.SysSmsLog"            useGeneratedKeys="true" keyProperty="id">
		insert into sys_sms_log(
                    `create_id`,            `content`,            `mobile`,            `create_time`,            `sign`,            `type`,            `extno`,            `send_status`,            `send_id`,            `invalid_num`,            `success_num`,            `black_num`,            `return_msg`,            `user_id`            )
		values(
                    #{createId},            #{content},            #{mobile},            #{createTime},            #{sign},            #{type},            #{extno},            #{sendStatus},            #{sendId},            #{invalidNum},            #{successNum},            #{blackNum},            #{returnMsg},            #{userId}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.SysSmsLog"            useGeneratedKeys="true" keyProperty="id">
        insert into sys_sms_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="content != null">
                        `content`,                    </if>
                                                                <if test="mobile != null">
                        `mobile`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`,                    </if>
                                                                <if test="sign != null">
                        `sign`,                    </if>
                                                                <if test="type != null">
                        `type`,                    </if>
                                                                <if test="extno != null">
                        `extno`,                    </if>
                                                                <if test="sendStatus != null">
                        `send_status`,                    </if>
                                                                <if test="sendId != null">
                        `send_id`,                    </if>
                                                                <if test="invalidNum != null">
                        `invalid_num`,                    </if>
                                                                <if test="successNum != null">
                        `success_num`,                    </if>
                                                                <if test="blackNum != null">
                        `black_num`,                    </if>
                                                                <if test="returnMsg != null">
                        `return_msg`,                    </if>
                                                                <if test="userId != null">
                        `user_id`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="content != null">
                        #{content},
                                                                </if>
                                                                <if test="mobile != null">
                        #{mobile},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime},
                                                                </if>
                                                                <if test="sign != null">
                        #{sign},
                                                                </if>
                                                                <if test="type != null">
                        #{type},
                                                                </if>
                                                                <if test="extno != null">
                        #{extno},
                                                                </if>
                                                                <if test="sendStatus != null">
                        #{sendStatus},
                                                                </if>
                                                                <if test="sendId != null">
                        #{sendId},
                                                                </if>
                                                                <if test="invalidNum != null">
                        #{invalidNum},
                                                                </if>
                                                                <if test="successNum != null">
                        #{successNum},
                                                                </if>
                                                                <if test="blackNum != null">
                        #{blackNum},
                                                                </if>
                                                                <if test="returnMsg != null">
                        #{returnMsg},
                                                                </if>
                                                                <if test="userId != null">
                        #{userId}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.SysSmsLogExample"
            resultType="java.lang.Long">
        select count(*) from sys_sms_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_sms_log
        <set>
                                                                            <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="content != null">
                        `content` = #{content},
                                                                </if>
                                                                <if test="mobile != null">
                        `mobile` = #{mobile},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                                                </if>
                                                                <if test="sign != null">
                        `sign` = #{sign},
                                                                </if>
                                                                <if test="type != null">
                        `type` = #{type},
                                                                </if>
                                                                <if test="extno != null">
                        `extno` = #{extno},
                                                                </if>
                                                                <if test="sendStatus != null">
                        `send_status` = #{sendStatus},
                                                                </if>
                                                                <if test="sendId != null">
                        `send_id` = #{sendId},
                                                                </if>
                                                                <if test="invalidNum != null">
                        `invalid_num` = #{invalidNum},
                                                                </if>
                                                                <if test="successNum != null">
                        `success_num` = #{successNum},
                                                                </if>
                                                                <if test="blackNum != null">
                        `black_num` = #{blackNum},
                                                                </if>
                                                                <if test="returnMsg != null">
                        `return_msg` = #{returnMsg},
                                                                </if>
                                                                <if test="userId != null">
                        `user_id` = #{userId}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_sms_log
        <set>
                                                                            `create_id` = #{createId},
                                                                 `content` = #{content},
                                                                 `mobile` = #{mobile},
                                                                 `create_time` = #{createTime},
                                                                 `sign` = #{sign},
                                                                 `type` = #{type},
                                                                 `extno` = #{extno},
                                                                 `send_status` = #{sendStatus},
                                                                 `send_id` = #{sendId},
                                                                 `invalid_num` = #{invalidNum},
                                                                 `success_num` = #{successNum},
                                                                 `black_num` = #{blackNum},
                                                                 `return_msg` = #{returnMsg},
                                                                 `user_id` = #{userId}                     </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.SysSmsLog">
        update sys_sms_log
        <set>
                                                                            <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="content != null">
                        `content` = #{content},
                                        </if>
                                                                <if test="mobile != null">
                        `mobile` = #{mobile},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="sign != null">
                        `sign` = #{sign},
                                        </if>
                                                                <if test="type != null">
                        `type` = #{type},
                                        </if>
                                                                <if test="extno != null">
                        `extno` = #{extno},
                                        </if>
                                                                <if test="sendStatus != null">
                        `send_status` = #{sendStatus},
                                        </if>
                                                                <if test="sendId != null">
                        `send_id` = #{sendId},
                                        </if>
                                                                <if test="invalidNum != null">
                        `invalid_num` = #{invalidNum},
                                        </if>
                                                                <if test="successNum != null">
                        `success_num` = #{successNum},
                                        </if>
                                                                <if test="blackNum != null">
                        `black_num` = #{blackNum},
                                        </if>
                                                                <if test="returnMsg != null">
                        `return_msg` = #{returnMsg},
                                        </if>
                                                                <if test="userId != null">
                        `user_id` = #{userId}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.SysSmsLog">
        update sys_sms_log
        <set>
                                                                `create_id` = #{createId},
                                                    `content` = #{content},
                                                    `mobile` = #{mobile},
                                                    `create_time` = #{createTime},
                                                    `sign` = #{sign},
                                                    `type` = #{type},
                                                    `extno` = #{extno},
                                                    `send_status` = #{sendStatus},
                                                    `send_id` = #{sendId},
                                                    `invalid_num` = #{invalidNum},
                                                    `success_num` = #{successNum},
                                                    `black_num` = #{blackNum},
                                                    `return_msg` = #{returnMsg},
                                                    `user_id` = #{userId}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`create_id` ,
                    t.`content` ,
                    t.`mobile` ,
                    t.`create_time` ,
                    t.`sign` ,
                    t.`type` ,
                    t.`extno` ,
                    t.`send_status` ,
                    t.`send_id` ,
                    t.`invalid_num` ,
                    t.`success_num` ,
                    t.`black_num` ,
                    t.`return_msg` ,
                    t.`user_id` ,
                s.`id` as createUserId, s.`username` as createName
        FROM sys_sms_log t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`create_id` ,
                    t.`content` ,
                    t.`mobile` ,
                    t.`create_time` ,
                    t.`sign` ,
                    t.`type` ,
                    t.`extno` ,
                    t.`send_status` ,
                    t.`send_id` ,
                    t.`invalid_num` ,
                    t.`success_num` ,
                    t.`black_num` ,
                    t.`return_msg` ,
                    t.`user_id` ,
                s.`id` as createUserId, s.`username` as createName
        FROM sys_sms_log t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT \${offset}, \${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM sys_sms_log
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO sys_sms_log
            (
                                                    `create_id`,
                                         `content`,
                                         `mobile`,
                                         `create_time`,
                                         `sign`,
                                         `type`,
                                         `extno`,
                                         `send_status`,
                                         `send_id`,
                                         `invalid_num`,
                                         `success_num`,
                                         `black_num`,
                                         `return_msg`,
                                         `user_id`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                                #{item.createId},
                                                    #{item.content},
                                                    #{item.mobile},
                                                    #{item.createTime},
                                                    #{item.sign},
                                                    #{item.type},
                                                    #{item.extno},
                                                    #{item.sendStatus},
                                                    #{item.sendId},
                                                    #{item.invalidNum},
                                                    #{item.successNum},
                                                    #{item.blackNum},
                                                    #{item.returnMsg},
                                                    #{item.userId}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update sys_sms_log
            <set>
                                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.content != null">`content` = #{item.content} ,  </if>
                                                                 <if test="item.mobile != null">`mobile` = #{item.mobile} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time} ,  </if>
                                                                 <if test="item.sign != null">`sign` = #{item.sign} ,  </if>
                                                                 <if test="item.type != null">`type` = #{item.type} ,  </if>
                                                                 <if test="item.extno != null">`extno` = #{item.extno} ,  </if>
                                                                 <if test="item.send_status != null">`send_status` = #{item.send_status} ,  </if>
                                                                 <if test="item.send_id != null">`send_id` = #{item.send_id} ,  </if>
                                                                 <if test="item.invalid_num != null">`invalid_num` = #{item.invalid_num} ,  </if>
                                                                 <if test="item.success_num != null">`success_num` = #{item.success_num} ,  </if>
                                                                 <if test="item.black_num != null">`black_num` = #{item.black_num} ,  </if>
                                                                 <if test="item.return_msg != null">`return_msg` = #{item.return_msg} ,  </if>
                                                                 <if test="item.user_id != null">`user_id` = #{item.user_id}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="createId" column="create_id"/>
                    <result property="content" column="content"/>
                    <result property="mobile" column="mobile"/>
                    <result property="createTime" column="create_time"/>
                    <result property="sign" column="sign"/>
                    <result property="type" column="type"/>
                    <result property="extno" column="extno"/>
                    <result property="sendStatus" column="send_status"/>
                    <result property="sendId" column="send_id"/>
                    <result property="invalidNum" column="invalid_num"/>
                    <result property="successNum" column="success_num"/>
                    <result property="blackNum" column="black_num"/>
                    <result property="returnMsg" column="return_msg"/>
                    <result property="userId" column="user_id"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.SysSmsLog" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="createId" column="create_id"/>
                    <result property="content" column="content"/>
                    <result property="mobile" column="mobile"/>
                    <result property="createTime" column="create_time"/>
                    <result property="sign" column="sign"/>
                    <result property="type" column="type"/>
                    <result property="extno" column="extno"/>
                    <result property="sendStatus" column="send_status"/>
                    <result property="sendId" column="send_id"/>
                    <result property="invalidNum" column="invalid_num"/>
                    <result property="successNum" column="success_num"/>
                    <result property="blackNum" column="black_num"/>
                    <result property="returnMsg" column="return_msg"/>
                    <result property="userId" column="user_id"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `create_id`,    	    `content`,    	    `mobile`,    	    `create_time`,    	    `sign`,    	    `type`,    	    `extno`,    	    `send_status`,    	    `send_id`,    	    `invalid_num`,    	    `success_num`,    	    `black_num`,    	    `return_msg`,    	    `user_id`      	</sql>

</mapper>
