<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljb.dao.TokenDao">

    <cache type="com.ljb.cache.MybatisCache" blocking="false"
           flushInterval="60000" readOnly="true" size="1024" eviction="FIFO"/>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.ljb.example.TokenExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from token
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from token
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from token
        where id = #{id}
    </delete>
    <delete id="deleteByExample" parameterType="com.ljb.example.TokenExample">
        delete from token
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteBatch">
        delete from token where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.ljb.entity.Token">
		insert into token(     `expire_time`,            `create_time`,            `ticket`,            `create_id`,            `remark`,            `ip`,            `principle`            )
		values(  #{expireTime},            #{createTime},            #{ticket},            #{createId},            #{remark},            #{ip},            #{principle}             )
	</insert>


    <insert id="insertSelective" parameterType="com.ljb.entity.Token">
        insert into token
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                <if test="id != null">
                        `id`,                    </if>
                                                                <if test="expireTime != null">
                        `expire_time`,                    </if>
                                                                <if test="createTime != null">
                        `create_time`,                    </if>
                                                                <if test="ticket != null">
                        `ticket`,                    </if>
                                                                <if test="createId != null">
                        `create_id`,                    </if>
                                                                <if test="remark != null">
                        `remark`,                    </if>
                                                                <if test="ip != null">
                        `ip`,                    </if>
                                                                <if test="principle != null">
                        `principle`                    </if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                <if test="id != null">
                        #{id},
                                                                </if>
                                                                <if test="expireTime != null">
                        #{expireTime},
                                                                </if>
                                                                <if test="createTime != null">
                        #{createTime},
                                                                </if>
                                                                <if test="ticket != null">
                        #{ticket},
                                                                </if>
                                                                <if test="createId != null">
                        #{createId},
                                                                </if>
                                                                <if test="remark != null">
                        #{remark},
                                                                </if>
                                                                <if test="ip != null">
                        #{ip},
                                                                </if>
                                                                <if test="principle != null">
                        #{principle}
                                            </if>
                                    </trim>
    </insert>

    <select id="countByExample" parameterType="com.ljb.example.TokenExample"
            resultType="java.lang.Long">
        select count(*) from token
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update token
        <set>
                                                                            <if test="expireTime != null">
                        `expire_time` = #{expireTime},
                                                                </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                                                </if>
                                                                <if test="ticket != null">
                        `ticket` = #{ticket},
                                                                </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                                                </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                                                </if>
                                                                <if test="ip != null">
                        `ip` = #{ip},
                                                                </if>
                                                                <if test="principle != null">
                        `principle` = #{principle}
                                            </if>
                                    </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update token
        <set>
                                                                            `expire_time` = #{expireTime},
                                                                 `create_time` = #{createTime},
                                                                 `ticket` = #{ticket},
                                                                 `create_id` = #{createId},
                                                                 `remark` = #{remark},
                                                                 `ip` = #{ip},
                                                                 `principle` = #{principle}                     </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.ljb.entity.Token">
        update token
        <set>
                                                                            <if test="expireTime != null">
                        `expire_time` = #{expireTime},
                                        </if>
                                                                <if test="createTime != null">
                        `create_time` = #{createTime},
                                        </if>
                                                                <if test="ticket != null">
                        `ticket` = #{ticket},
                                        </if>
                                                                <if test="createId != null">
                        `create_id` = #{createId},
                                        </if>
                                                                <if test="remark != null">
                        `remark` = #{remark},
                                        </if>
                                                                <if test="ip != null">
                        `ip` = #{ip},
                                        </if>
                                                                <if test="principle != null">
                        `principle` = #{principle}                    </if>
                                    </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ljb.entity.Token">
        update token
        <set>
                                                                `expire_time` = #{expireTime},
                                                    `create_time` = #{createTime},
                                                    `ticket` = #{ticket},
                                                    `create_id` = #{createId},
                                                    `remark` = #{remark},
                                                    `ip` = #{ip},
                                                    `principle` = #{principle}        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectMapById" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`expire_time` ,
                    t.`create_time` ,
                    t.`ticket` ,
                    t.`create_id` ,
                    t.`remark` ,
                    t.`ip` ,
                    t.`principle` ,
                s.`id` as createUserId, s.`username` as createName
        FROM token t left join sys_user s on s.`id`= t.`create_id` WHERE t.`id`=#{id}
    </select>

    <select id="selectMapList" parameterType="map" resultMap="DetailsMap">
        SELECT
                    t.`id` ,
                    t.`expire_time` ,
                    t.`create_time` ,
                    t.`ticket` ,
                    t.`create_id` ,
                    t.`remark` ,
                    t.`ip` ,
                    t.`principle` ,
                s.`id` as createUserId, s.`username` as createName
        FROM token t left join sys_user s on s.`id`= t.`create_id`
        <where>
            <if test="field != null and search != null">
                t.`${field}` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="stime != null and etime != null">
                t.`create_time` BETWEEN #{stime} AND #{etime}
            </if>
        </where>
        <choose>
            <when test="sort != null and order != null">
                ORDER BY #{sort} #{order}
            </when>
            <otherwise>
                ORDER BY id DESC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            LIMIT \${offset}, \${limit}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="long">
        SELECT COUNT(*) FROM token
        <where>
            <if test="field != null and search != null">
                #{field} LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
            INSERT INTO token
            (
                                         `expire_time`,
                                         `create_time`,
                                         `ticket`,
                                         `create_id`,
                                         `remark`,
                                         `ip`,
                                         `principle`         )
        values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (
                                                    #{item.expireTime},
                                                    #{item.createTime},
                                                    #{item.ticket},
                                                    #{item.createId},
                                                    #{item.remark},
                                                    #{item.ip},
                                                    #{item.principle}            )
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach item="item" index="index" collection="list" separator=";">
            update token
            <set>
                                                            <if test="item.id != null">`id` = #{item.id} ,  </if>
                                                                 <if test="item.expire_time != null">`expire_time` = #{item.expire_time} ,  </if>
                                                                 <if test="item.create_time != null">`create_time` = #{item.create_time} ,  </if>
                                                                 <if test="item.ticket != null">`ticket` = #{item.ticket} ,  </if>
                                                                 <if test="item.create_id != null">`create_id` = #{item.create_id} ,  </if>
                                                                 <if test="item.remark != null">`remark` = #{item.remark} ,  </if>
                                                                 <if test="item.ip != null">`ip` = #{item.ip} ,  </if>
                                                                 <if test="item.principle != null">`principle` = #{item.principle}  </if>
                                 </set>
            where `id` = #{item.id}
        </foreach>
    </update>

    <resultMap type="map" id="DetailsMap">
                    <result property="id" column="id"/>
                    <result property="expireTime" column="expire_time"/>
                    <result property="createTime" column="create_time"/>
                    <result property="ticket" column="ticket"/>
                    <result property="createId" column="create_id"/>
                    <result property="remark" column="remark"/>
                    <result property="ip" column="ip"/>
                    <result property="principle" column="principle"/>
                <result property="createUserId" column="createUserId"/>
        <result property="createName" column="createName"/>
    </resultMap>

    <resultMap type="com.ljb.entity.Token" id="BaseResultMap">
                    <result property="id" column="id"/>
                    <result property="expireTime" column="expire_time"/>
                    <result property="createTime" column="create_time"/>
                    <result property="ticket" column="ticket"/>
                    <result property="createId" column="create_id"/>
                    <result property="remark" column="remark"/>
                    <result property="ip" column="ip"/>
                    <result property="principle" column="principle"/>
            </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
	    `id`,    	    `expire_time`,    	    `create_time`,    	    `ticket`,    	    `create_id`,    	    `remark`,    	    `ip`,    	    `principle`      	</sql>

</mapper>
