<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="lib/css :: css(~{::title},~{::link})" >
    <title>大学生英语自主学习能力评价系统登录</title>
    <link rel="stylesheet" th:href="@{/static/common/css/login.css}">
</head>
<body>
<div id="main" class="main">
    <div class="login-wrap">
    <div class="login_l_img"><img th:src="@{/static/common/images/login-img.png}"/></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img th:src="@{/static/common/images/login_logo.png}"/></a></div>
        <div class="login_name">
            <p>大学生英语自主学习能力评价系统</p>
        </div>
        <form id="loginForm" :model="user" role="form">
            <input type="text" v-model="user.number" name="number" class="form-control" placeholder="学号">
            <input type="password" v-model="user.password" name=password class="form-control" placeholder="密码">
            <input value="登录" style="width:100%;" type="submit">
            <a th:href="@{/account/register}">还没有账号，去注册</a>
            <div id="check-result" class="check-result"></div>
        </form>
    </div>
    </div>
    <div class="copyright">江西中医药大学计算机学院 版权所有©2016-2026</div>
</div>
<div th:include="lib/js :: js" ></div>
<script type="text/javascript">
    topLoginWindow();
    var vm = new Vue({
        el: '#main',
        data: {
            user:{
                number: '',
                password: '',
                remember:false
            },
            target:1
        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            refreshCode: function () {
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                $.ajax({
                    type: "POST",
                    url: transUrl("/account/login"),
                    data: vm.user,
                    contentType:"application/x-www-form-urlencoded",
                    success: function (r) {
                        console.log(r.code)
                        if (r.code == 0) {//登录成功
                            parent.location.href = transUrl('/');
                        } else {
                            $("#check-result").html('<label id="password-error" class="error input-error-message" for="password">'+r.msg+'</label>');
                        }
                    },
                    error:function(){
                        alert("网络异常");
                    }
                });
            }
        }
    });
    $(function(){
        $("#loginForm").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 6,
                    maxlength:16
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength:16
                }
            },
            messages: {
                username: {
                    required: "请输入用户名",
                    minlength: "格式错误",
                    maxlength:"格式错误"
                },
                password: {
                    required: "请输入密码",
                    minlength: "格式错误，6-16位",
                    maxlength:"格式错误，6-16位"
                }
            },
            submitHandler:function(form){
                vm.login();
            },
            errorPlacement : function(error, element) {
                $("#check-result").html(error);
                $(error).addClass("input-error-message");
            },
            showErrors : function(errorMap, errorList) {
                for(var obj in errorMap) {
                    /*$('#' + obj).parent().addClass('has-error');*/
                }
                this.defaultShowErrors();
            },
            success:function(label) {
                $(label).remove();
            },
            invalidHandler: function(form, validator) {
            }
        });

    })
</script>

</body>
</html>
